body{
    background-color:#F1EEDC;
    color:#3E0703;
    font-family: 'M PLUS Rounded 1c' ,sans-serif;
}

.object{
    display: flex;
}

img{
    margin:200px 15px 0px 15px;
    width:200px;
    height:200px;
    border-radius:60px 60px;
}

.title-title{
    position: relative;
    z-index:6;
    display:flex;
    width: 100%;
    padding: 15px 0px 0px 90px;
    color:ivory

}

.title-title h1{
    margin:0px 0px 0px 200px;
    font-weight: lighter;
}

.title-title h3{
    margin:0px 0px 0px 220px;
}

.title-name{
    margin-bottom:5px;
}

.title-image{
    margin:0px;
    width:60px;
    height:60px;
}

.input-title{
    margin:0px 20%;
}

.input-place{
    border-color: #E5DDC5;
    border-style: double;
    width:250px;
    margin: 10px 0px 15px 10px;

}

.select-schedule{
    margin:80px 0px 0px 20px;
    padding:10px 0px 10px 10px;
    width:320px;
    max-height: 300px;
    font-weight: bold;
    background-color: ivory;
    border-radius: 10px 10px;

}

#startDate,
#endDate{
    font-size: 15px;
    padding:5px;
}

.leftbar{
    padding-top:10px;
}

.input-schedule{
    display: flex;
    border-style: none;
    cursor: pointer;

}

.content{
    margin-top: 30px;
    display: flex;
}

.ryotei button,
.app button{
    background-color: #B3C8CF;
    padding:5px;
    margin:5px 0px 0px 5px;
}

.button button{
    cursor: pointer;
    border-style: none;
    border-radius: 30px;
    width: 30px;
    height:30px;
    color:#3E0703;
    font-size: medium;
    background-color: ivory;
    text-align: center; 
}

.upperContent{
    display: flex;
}

.content-2{
    display: flex;
    box-sizing: 200px 200px;
    right:0px;   
}

.yarukoto{
    min-width: 400px;
    min-height: 200px;
    border-style: double;
    border-radius: 10px 10px;
    background-color: #E5DDC5;
    border-color: #3E0703;
    border-width: 5px;
    border-radius: 10px 10px;
    margin:80px 10px 0px 0px; 
}

.yarukoto-title{
    display: flex;
    background-color: ivory;
    height:60px;
    border-radius: 5px 5px;
    
}

.yarukoto h4{
    padding:0px 30%;
    width:100%
}

.mochimono{
    min-width: 400px;
    min-height: 200px;
    border-style: double;
    border-radius: 10px 10px;
    background-color: #E5DDC5;
    border-color: #3E0703;
    border-width: 5px;
    border-radius: 10px 10px;
    margin:80px 10px 0px 0px; 
}

.mochimono h4{
    padding:0px 0px 0px 40px;
    
}

.mochimono-title{
    display: flex;
    background-color: ivory;
    height:60px;
    border-radius: 5px 5px;
}

.yarukoto-a input,
.mochimono-a input{
    width:300px;
}

.yarukoto button,
.mochimono button{
    background-color: #3E0703;
    padding:5px;
    color:ivory;
    cursor: pointer;
    font-size: medium;
    margin:5px 0px 0px 5px;
}

.button #template{
    width: 80px;
    height:30px;
    text-align: center;
    padding:2px;
    margin:0px;
}

.content-1{
    display: flex;
    width:800px;
    margin:50px auto;
}

#content-1.content-1{
    margin-bottom:30px;
    display: none;
    min-height: 400px;
}

.ryotei{
    min-width: 620px;
    border-style: double;
    border-radius: 10px 10px;
    background-color: #E5DDC5;
    border-color: #B3C8CF;
    border-width: 5px;
    border-radius: 10px 10px;
    margin:0px 10px; 
}

.ryotei-title,
.app-title{
    display: flex;
    background-color: #B3C8CF;
    height:60px;
    margin:auto;
    border-radius: 5px 5px;
}

.ryotei-title h4{
    padding:0px 30%
}

.ryotei-a{
    z-index: 2;
    height: 100%;
}

.ryotei img{
    z-index: 1;
    margin: 300px 0px 0px 0px;
    height: 80px;
    width: 80px;
}
.app-title h4{
    padding:0px 20%;
}

input,
textarea{
    display: flex;
    border-style: none;
    border-radius: 10px;
    width: auto;
    height:20px;
    color:#3E0703;
    font-size: medium;
    background-color: ivory;
    margin: 5px;
    padding:7px 6px;
}

.app{
    min-width: 250px;
    border-style: double;
    border-radius: 10px 10px;
    background-color: #E5DDC5;
    border-color: #B3C8CF;
    border-width: 5px;
    border-radius: 10px 10px; 
}

.app-a input{
    width:170px;
}

.ryotei-a td,
.app-a td,
.yarukoto-a td,
.mochimono-a td{
    display:flex;
    align-items: center;
}

.yarukoto-a button,
.mochimono-a button,
.ryotei-a button,
.app-a button{
    border-style: none;
    border-radius: 10px;
    height:20px;
    color:#3E0703;
    font-size: medium;
    font-weight: bold;
    background-color: ivory;
    text-align: center;
    margin:5px 0px;
    cursor: pointer;
    opacity: 0.5;  
}

input[type ="checkbox"]{
    width: 25px;
}

.custom-shape-divider-top-1760093522 {
    position: absolute;
    z-index:3;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1760093522 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.0px);
    height: 120px;
}

.custom-shape-divider-top-1760093522 .shape-fill {
    fill:#B3C8CF;
}

.custom-shape-divider-top-1760093522-2 {
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1760093522-2 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.0px);
    height: 135px;
}

.custom-shape-divider-top-1760093522-2 .shape-fill {
    fill: white;
}
